<br/>
<h1>Inscribete</h1>
<section class="Frm_Inscripcion2" ng-controller="InscripcionController as inscripcionController">
<span id="mensajeError"></span>
<form accept-charset="UTF-8" class="frm-registro" id="new_inscripcion" method="post" ng-submit="inscripcionController.inscribir()">
    <% if @torneo.juego.id == ID_JUEGO_HOTS %>
      <%= render partial: "reutilizable/ficha_inscripcion_hots", object: @torneo, as: :torneo %>
    <% elsif @torneo.juego.id == ID_JUEGO_SC2 %>     
      <%= render partial: "reutilizable/ficha_inscripcion_sc2", object: @torneo, as: :torneo %>
    <% else %>
      <%= render partial: "reutilizable/ficha_inscripcion_hearthstone", object: @torneo, as: :torneo %>
    <% end %>
    <input type='hidden' id='id_torneo' name='id_torneo' value='<%=@torneo.id%>' /> 
    <p class="alert alert-error">{{mensaje_error}}</p>
    <input name="commit" type="submit" value="Inscribirme">
  </form>
  </article>
</section>   


