<article class="Ficha_inscripcion2_detalle">
<label id="torneo_titulo2"><b>Battle tag<b/><input type="text" name="gamer[battletag]" value="<%=current_gamer.battletag%>" size="15" maxlength="20" /></label>
<label id="torneo_titulo2"><b>Raza</b>
<select name="sc2_form[race]" >
	<option value="-1">Seleccione</option>
	<option value="Terran">Terran</option>
	<option value="Zerg">Zerg</option>
	<option value="Protoss">Protoss</option>
</select>
</label>
<br/>
<label id="torneo_titulo2"><b>Correo Electr&oacute;nico<b/><input type="text" name="gamer[correo]" value="<%=current_gamer.correo%>" size="200" maxlength="20" /></label>
</article>