<article id="ContenidoTorneo">
   <img  src="<%= image_path(torneo.juego.nombre_imagen) %>" >
  <article>
  <h2><a href="/torneos/<%= torneo.id %>"><%= torneo.titulo %></a></h2>
    <p>M&aacute;ximo <b><%= torneo.vacantes %> slots.</b></br>
    <font color='green'>Esperando generaci&oacute;n de llaves</font>
  </article>
</article>