<article class="Ficha_inscripcion2_detalle">
<label id="torneo_titulo2"><b>Battle tag<b/><input type="text" id="gamer_battletag" name="gamer[battletag]" value="<%=current_gamer.battletag%>" size="15" maxlength="20" ng-model="formData.battletag" /></label>
<br/>
<label id="torneo_titulo2"><b>Correo Electr&oacute;nico<b/><input type="text" name="gamer[correo]" value="<%=current_gamer.correo%>" size="200" maxlength="200" ng-model="formData.correo" /></label>
</article>