<section class="horizontal">
  <div class="container">
    <h1>Gracias por suscribirte</h1>
    <div class="tagline">Te estaremos enviando mayor información sobre el curso.<br>Puedes seguirnos en nuestra redes sociales:</div>
  </div>
</section> 