
<header>
  <img class="logo" src="<%= image_path("logo.png") %>" alt="GG E-sports"/>
  <nav>
    <ul>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Menu</a></li>
    </ul>
  </nav>
</header>
<video class="PortadaAnimacion" loop="" preload="undefined"  poster="http://magmaleague.com/wp-content/uploads/2015/09/video-bg.jpg" autoplay>
  <source src="http://magmaleague.com/wp-content/uploads/2015/09/intro.mov" type="video/mp4">
  <source src="http://stormyday.premiumcoding.com/wp-content/uploads/2013/12/StormClouds_converted.webm" type="video/webm">
  <source src="http://stormyday.premiumcoding.com/wp-content/uploads/2013/12/StormClouds_converted.ogv" type="video/ogg">
</video>

<section class="ResumenTorneo" >
  <article class="UltimoTorneo">Ayudamos a organizar torneos E-sports de manera sencilla y eficiente</article>
</section>

<section class="DetalleTorneo" > 
  <article >    
    <img ng-src="{{ultimo_torneo_finalizado.urllogo}}" />
    <span class="etiqueta-portada">{{ultimo_torneo_finalizado.titulo}}</span>
  </article>
  <article >
    <ul>
      <li ng-repeat="inscrito in inscripciones">
        {{inscrito.etiqueta_llave}}
      </li>
    </ul>
    <span class="etiqueta-portada">Inscritos</span>
  </article>
  <article >
    
    <div id="llaves" ></div>
      <span class="etiqueta-portada">Semifinal</span>
  </article>  
</section>

<section class="FormContacto"> 
  <form class="frm-contacto" action="www.ejemplo.com/contacto" method="post">
           <h1>¿Quieres organizar un torneo en línea de forma simple y sencilla ? Pues entonces contactanos.</h1>
           <input type="text" name="txtNombre" placeholder="Nombre" size="12">
           <input type="text" name="txtcorreo" placeholder="Correo" size="12">
           <textarea rows="1" cols="12" placeholder="¿En que podemos ayudarte?"></textarea>
           <input type="submit" value="Solicitar mas información">
        </form>
</section>