<video class="PortadaAnimacion" loop="" preload="undefined"  poster="http://magmaleague.com/wp-content/uploads/2015/09/video-bg.jpg" autoplay>
  <source src="http://magmaleague.com/wp-content/uploads/2015/09/intro.mov" type="video/mp4">
  <source src="http://stormyday.premiumcoding.com/wp-content/uploads/2013/12/StormClouds_converted.webm" type="video/webm">
  <source src="http://stormyday.premiumcoding.com/wp-content/uploads/2013/12/StormClouds_converted.ogv" type="video/ogg">
</video>

<section class="white horizontal">
  <div class="container">
    <h2>Torneos e-sports en l&iacute;nea</h2>
    <div class="card-services">
      <article class="card home-service" style="height: 290px;">
        <div class="course-data">
          <h4>Organización simple</h4>
          <span>Contamos con herramientas para que organizar un torneo no sea un dolor de cabeza</span>
         </div>
      </article>
      <article class="card home-service gray" style="height: 290px;">
        <div class="course-data">
          <h4>Mayor llegada a gamers</h4>
          <span>Con nuestra fuerte integraci&oacute;n en redes sociales puedes asegurar el alcance de tu torneo.</span>
        </div>
      </article>
      <article class="card home-service gray" style="height: 290px;">
        <div class="course-data">
          <h4>Rentabilidad para auspiciadores</h4>
          <span>a mayor alcance por redes sociales mayor probabilidad de vender sus productos.</span>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="ResumenTorneo gray horizontal" ng-controller="TorneoController as torneoCtrl">
  <div class="container">
    <h2>&Uacute;ltimo torneo Creado</h2>
    <div class="card-services">
    <article>        
      <article id="ContenidoTorneo">
        <a class="estilo_listo" href="/torneos/iniciar/{{ultimo_torneo_creado.id}}"><img src="{{ultimo_torneo_creado.urllogo}}"></a>
        <article>
        <h2><a href="/torneos/{{ultimo_torneo_creado.id}}">{{ultimo_torneo_creado.titulo}}</a></h2>
          <p>Máximo <b>{{ultimo_torneo_creado.vacantes}} slots.</b><br>
          <p>Estado <b>{{ultimo_torneo_creado.estado}}</b><br>
        </p></article>
        <p> <font color="green">Bolsa de premios: $<u>{{ultimo_torneo_creado.monto_auspiciado}}</u></font></p>
          <br>  
          <a href="/torneos/{{ultimo_torneo_creado.id}}" class="cta-button">Ver detalle </a>
          <br/>
          <br/>
          <a href="/torneos/{{ultimo_torneo_finalizado.id}}" class="estilo_listo"><b>&Uacute;ltimo Torneo Finalizado<b></a>
        </article>
      </article>
      </article>
    </div>
  </div>
</section>
<section id="contact" class="horizontal white">
  <div class="container">
    <h2>Escribenos para cualquier duda</h2>
    <article class="left">
      <p class="info-contact">Cuentamos sobre el torneo que deseas organizar para poder ayudarte.</p>
    </article>
    <article class="right">
      <%= form_for @suscription, html: {class: "frm-registro", target: "_top", action: "suscribir"  } do %>
        <input id="suscription_first_name" name="suscription[first_name]" placeholder="Tu nombre" required="required" type="text">
        <input id="suscription_email" name="suscription[email]" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" placeholder="Tu email" required="required" type="email">
        <textarea id="suscription_message" name="suscription[message]" placeholder="¿En qué te podemos ayudar?" type="text"></textarea>
        <input class="cta-button" name="commit" type="submit" value="Solicita más información">
      <% end %>
    </article>
  </div>
</section>