  <script type="text/javascript">
    function generarContadorPorTorneo(idTorneo,fecha_limite){
      $('#countdown_'+idTorneo).countdown({until: fecha_limite, format: 'dhmS',expiryText: "<font color='red'><a href='/'>Recarga la p&aacute;gina</a></font>" }); 
      }
  </script>
    <section class="Torneos">
      <article>
        <%= render partial: "reutilizable/ficha_lista_torneo_iniciado", collection: @torneos_iniciados, as: :torneo %>
        <%= render partial: "reutilizable/ficha_lista_torneo_confirmado", collection: @torneos_confirmados, as: :torneo %>
        <%= render partial: "reutilizable/ficha_lista_torneo_inscrito", collection: @torneos_inscritos, as: :torneo %>
        <%= render partial: "reutilizable/ficha_lista_torneo_disponible", collection: @torneos, as: :torneo %>
        <% if @torneos.size == 0 and @torneos_inscritos_y_confirmados.size == 0 %>
          <h1>No existe torneos disponibles para inscripci&oacute;n, pero puedes revisar torneos anteriores y el ranking</h1>
        <% end %>
      </article>
        
      <aside>
        <br/>
        
        <div class="fb-comments" data-href="http://satel-staging.herokuapp.com/" data-width="380" data-numposts="5" data-colorscheme="light"></div>
         
        </aside>
    </section>