  <script type="text/javascript">
    function generarContadorPorTorneo(idTorneo,fecha_cierre_inscripcion){
      $('#countdown_'+idTorneo).countdown({until: fecha_cierre_inscripcion, format: 'dhmS',expiryText: "<font color='red'>Inscripciones Cerradas</font>" }); 
      }
  </script>
  <!-- 
  <section class="Anuncios">
  </section>
  -->
    <section class="Torneos">
      <article>
        <%= render partial: "reutilizable/ficha_lista_torneo_iniciado", collection: @torneos_iniciados, as: :torneo %>
        <%= render partial: "reutilizable/ficha_lista_torneo_confirmado", collection: @torneos_confirmados, as: :torneo %>
        <%= render partial: "reutilizable/ficha_lista_torneo_inscrito", collection: @torneos_inscritos, as: :torneo %>
        <%= render partial: "reutilizable/ficha_lista_torneo_disponible", collection: @torneos, as: :torneo %>
      </article>
      <aside>Zona de Marketing 2</aside>
    </section>