  <div class="container">
    <div class="row">
        <div >
            <div class="tile">
              <h3 class="text-center">Registra tu torneo</h3>
               <div class="table-responsive">
          
                
          <%= render 'form' %>

          <%= link_to 'Back', torneos_path %>
   
              </div>

            </div>
        </div>
    </div>
  </div>