<section class="FrmRegistrarTorneo">
  <h1>Detalle del Torneo</h1>
  <%= render partial: "reutilizable/ficha_presentacion_torneo", object: @torneo, as: :torneo %>
  <br/>
  <article class="Detalle_Torneo_Ver">
    <% if @mensaje_de_guardado.nil? %>
      <center>
        <% if !current_gamer.nil? %>
          Inscribete dando click <b><a class="Enlace_torneosDisponibles" id="link_inscripcion_torneo_<%=@torneo.id%>" href="/inscripciones/new/<%=@torneo.id%>">aqu&iacute;</a></b>
        <% else %>
          Primero logueate para poder inscribirte, haz click <a id="autenticarse" href="/auth/facebook" > 
               <button class="btnFacebook" type="button">Aqu&iacute;</button>
            </a> para conectarte: 
        <% end %>
        <br/>
        <br/>
        <a class="Enlace_detalle_registrarTorneo" href="/inscripciones?id_torneo=<%=@torneo.id%>">Ver inscritos</a>
        <br/>
        <br/>
        <a class="Enlace_detalle_registrarTorneo" href="javascript:goBack();">Volver</a>
      </center>
      <br/>
    <% else %>
      <center>
        <a class="Enlace_detalle_registrarTorneo" href="/">Volver</a>
      </center>
    <% end %>
    <br/>
  </article>
</section>