          <script type="text/javascript">
            var minimalData = {
            teams : [
              ["Kripty", "Locopiedra"], /* first matchup */
              ["Otaru", "Brucefulus"], /* second matchup */
              ["Sidvicious", "Solmyr"], /* second matchup */
              ["Kodo", "Tdk[lol]"] /* second matchup */
            ],

            }
          $(function() {
            $('#llaves').bracket({
            init: minimalData /* data to initialize the bracket with */ })
          })
          </script>

<div class="container">
  <div class="row">
    
      <div class="tile" style="height: 456px;">
                   
           <h3 class="text-center">Prepara tu torneo antes de iniciar</h3>
          

          <div id="llaves" class="table-responsive" ></div>
       
      </div>  
    
  </div>  
</div>  