body{
    font-size: 16px;
    margin: 0;
    font-family: Calibri;
    background-color: #312B2B;
}

header{
background-color: black;
height: 80px;
padding-right: 64px;
padding-left: 64px;
width:100%;
}

.logo{
    width: 150px;
    margin-top: 20px;
}

nav{
    display: inline-block;
    vertical-align: top;
}

nav ul li{
    display: inline-block;
    margin-right: 32px; 
    line-height: 80px;
    font-weight: normal;
}

nav ul{
    margin:0;
    font-size: 14px;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: #d1d1d1;
}


.btnFacebook{
    float: right;
    color: #fff;
    background-color: #3b5998;
    
    padding: 6px 12px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10%;
}

.btnFacebookC {
    float: right;
    color: white;
   
    background-color: black;
    padding: 6px 12px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 2%;
    cursor: pointer;
    text-decoration: underline;
}

.WelcomeUSer {
    float: right;
    color: #fff;
    font-weight: normal;
    background-color: #3b5998;
    padding: 6px 12px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
     margin-right: 10%;
    

    }

.Anuncios{
        margin-top: 2px;
    
        height: 70px;
        background-color:black;
        padding-left: 5%;
        padding-right: 5%;
}


.Anuncios article{
    background-color: #EDE7E7;
    border-radius: 4px;
    float:left;
    text-decoration: none;
    width: 15%;
    margin-right: 5%;
    
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    text-align: center;
    padding: 5px;
}

.Anuncios article:nth-child(5){
    margin-right: 0;
    margin-left: 0.8%;
}

.Anuncios article:hover{
    background-color: white;
    border-radius: 4px;
}

.Marketing1{
    background-color: #ffffe5;
    height: 90px;
    margin-top: 5px;
    color:black;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 4px;

}

.Marketing1 h1{
    
    margin: 0;
}

#ContenidoTorneo{
    width: 98%;
    margin: 10px;
    border-radius: 4px;
    background-color: black;
    height: 25%;
    color: white;
}

#ContenidoTorneo img{
    height: 90%;
    width: 25%;
    border-radius: 0px;
    margin: 1%;
}

#ContenidoTorneo article{
    float: right;
    height: 90%;
    width: 70%;
    margin: 10px;
    background-color: black;

}

#ContenidoTorneo article h2,p{
display: block;
margin: 0;
text-align: left;
overflow-x:hidden;
overflow-y:hidden; 
position: relative;
text-overflow: ellipsis;
}

.Torneos{
overflow: hidden;
margin-bottom: 20px;
margin-top: 10px;

}



.Torneos article{
float: left;
height: 500px;
background-color: #47474D;
margin-left: 5%;
margin-right: 14px;
width: 60%;
border-radius: 4px;
    
}

.Torneos article h1{
    text-align: center;
}

.Torneos article img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}




.Torneos aside{
    color: black;
    float: left;
    background-color: #47474D;
    width: 29%;
    height: 500px;
    border-radius: 4px;
}


.FrmRegistrarTorneo{
    color: white;
    width: 60%;
    margin-top: 2%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 18%;
   
}

.FrmRegistrarTorneo h1{
    text-align: center;
    width: 100%;
 }   

.FrmRegistrarTorneo input[type="text"]{
    font-size: 15px;
    box-sizing: border-box;
    margin: 15px 0 15px 0;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #7ac9b7;
}  

.FrmRegistrarTorneo input[type="submit"] {
    background-color: #4180c5;
    border: 1px solid #7ac9b7;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin: 15px 0;
    padding: 15px;
    width: 100%;
}


.Radio_juego {
    margin-left: 7%;
} 

.Radio_vacantes{
    margin-left: 15%;
} 

#cierre_inscripcion_fecha{
    width: 63%;
}

#cierre_inscripcion_hora
{
    width: 30%;
}
#torneo_periodo_confirmacion_en_minutos {
    font-size: 15px;
    box-sizing: border-box;
    margin: 15px 0 15px 0;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #7ac9b7;
}

.Detalle_rondas {
   
    width: 100%;
   
}



footer{
    background-color:  #312B2B;
    height: 200px;
    color: white;
}
footer p{
    margin-right: 40%;
    margin-left: 40%;
}

.Enlaces {
    margin-right: 40%;
    margin-left: 40%;
}

.Enlaces article{
    display: inline-block;
    vertical-align: middle;
    }

.Enlaces article :hover{
    cursor: pointer;
}


@media screen and (max-width: 350px){

header{
    padding-right: 10px;
    padding-left:10px;

    }
.logo {
    width: 100px;
    margin-top: 10px;
}

nav {
  display: inline-block;
  vertical-align: top;
  width: 65%;
}

nav ul {
  margin: 0;
  font-size: 10px;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  
  font-weight: normal;
}

.Anuncios {
    height: 40px;
}
.Anuncios article{
    margin-right: 2px;
    padding: 2px;
    width: 18%;
    font-size: 12px;
}

.btnFacebook {
                
                margin-right: 1%;
            }

.Torneos article h1{
    margin: 0;
}
