body{
    font-size: 16px;
    margin: 0;
    font-family: Calibri;
    background-color: #312B2B;
}

header{
  background: black;
  width: 100%;
  height: 51.4px;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo{
    width: 150px;
    margin-left: 53px;
    margin-top: 10px;
}

nav {
  float: right;
  height: 99%;
  line-height: 29px;
  margin-right: 2%;
  font-family: "Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;
}

#menu-icon {
  width: 40px;
  height: 40px;
  background: #000 url(../assets/menu-icon.png) center;

}

a:hover#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;

}

nav ul li{
    font-weight: normal;
    display: inline-block;
    float: left;
    padding: 10px;
}

nav ul{
    margin:0;
    font-size: 13px;
    list-style: none; 
    padding: 0px;   
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: white;
    text-decoration: underline;
}

.opcion_facebook{
  padding:  0px 0px 0px 0px;
}

.btnFacebook{
    
    color: #fff;
    background-color: #3b5998;
    font-family: "Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    vertical-align: middle;
    border: 1px solid transparent;
    cursor: pointer;
    height: 49px;
   
}
.btnFacebook:hover{
  opacity: .8;
}

.btnFacebookC {
    float: right;
    color: white;   
    background-color: black;
    padding:  6px 0 6px 0;
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 2%;
    cursor: pointer;
    text-decoration: underline;
}

.WelcomeUSer {


    float: right;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    padding: 0px;
    vertical-align: middle;
  
    
    }

.Anuncios{
     margin-top: 2px;
     height: 70px;
     background-color:black;
     padding-left: 5%;
     padding-right: 5%;
}


.Anuncios article{
    background-color: #EDE7E7;
    border-radius: 4px;
    float:left;
    text-decoration: none;
    width: 15%;
    margin-right: 5%;
    
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    text-align: center;
    padding: 5px;
}

.Anuncios article:nth-child(5){
    margin-right: 0;
    margin-left: 0.8%;
}

.Anuncios article:hover{
    background-color: white;
    border-radius: 4px;
}

.Marketing1{
    background-color: #ffffe5;
    height: 90px;
    margin-top: 5px;
    color:black;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 4px;

}

.Marketing1 h1{
    
    margin: 0;
}

#ContenidoTorneo{
    width: 98%;
    margin: 1%;;
    border-radius: 4px;
    background-color: black;
    height: 25%;
    color: white;
}

#ContenidoTorneo img{
    height: 106px;
    width: 25%;
    border-radius: 0px;
    margin: 1%;
}

#ContenidoTorneo article{
    float: right;
    height: 90%;
    width: 70%;
    margin: 1%;
    overflow: hidden;
    background-color: black;
}

#ContenidoTorneo article h2 a{
    text-decoration: none;
    color: #D0D0D0;
    font-size: 19px;
}

#ContenidoTorneo article h2 a:hover{
    text-decoration: underline;
}

#ContenidoTorneo article h2,p{
display: block;
margin: 0;
text-align: left;
overflow-x:hidden;
overflow-y:hidden; 
position: relative;
text-overflow: ellipsis;
font-size:90%;
}

.Torneos{
overflow: hidden;
margin-bottom: 20px;
margin-top: 10px;
  margin-left: 0%;
  margin-right: 2%;

}

.Torneos article{
  float: left;
  /*height: 500px; -->Se retira para hacer dinamica la pagina*/
  background-color: #47474D;
  margin-left: 5%;
  margin-right: 14px;
  width: 60%;
  border-radius: 4px;

 } 

.Torneos article h1{
    text-align: center;
    
}
#Lista_vacia{
  margin-top: 25%;
  color: white;
}

.Torneos article img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.Torneos iframe{
    #width: 10%;
}

.Torneos aside{
   
    float: left;
    background-color: #FFFFFF;
    width: 32%;
    height: 566px;
    border-radius: 4px;
    overflow: auto;
}

.fb-comments {
    width: 100%;
   
}

.FrmRegistrarTorneo{
    color: white;
    width: 69%;
    margin-top: 2%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 18%;
   
}

.FrmRegistrarTorneo h1{
    text-align: center;
    width: 100%;
 }   

.FrmRegistrarTorneo input[type="text"]{
    font-size: 15px;
    box-sizing: border-box;
    margin: 15px 0 15px 0;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #7ac9b7;
}  



.FrmRegistrarTorneo input[type="submit"] {
    background-color: #4180c5;
    border: 1px solid #7ac9b7;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin: 15px 0;
    padding: 15px;
    width: 100%;
}

.Enlace_detalle_registrarTorneo {
    color: #D0D0D0;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.Enlace_detalle_registrarTorneo:hover{
    text-decoration: underline;
}

.Enlace_torneosDisponibles{
   text-decoration: none;
   color: #D0D0D0;
}

.Enlace_torneosDisponibles:hover{
  text-decoration:underline;
}

.Radio_juego {
    margin-left: 7%;
} 

.Radio_vacantes{
    margin-left: 15%;
} 
#Registro_Rondas{
  width: 95%;
}

#cierre_inscripcion_fecha{
    width: 63%;
}

#cierre_inscripcion_hora
{
    width: 36%;
}
#torneo_periodo_confirmacion_en_minutos {
    font-size: 15px;
    box-sizing: border-box;
    margin: 15px 0 15px 0;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #7ac9b7;
}

table {
   border: 1px solid;
   border-color: #8C8C8C;
   border-radius: 3px;
   border-collapse: separate; 
   text-align: left; 
   width: 100%; 
}

table thead {
    background: linear-gradient(#8C8C8C, #2B2B2B);
    font-size: 15px;
    text-align: center; 
}
table tbody{
   border: 1px solid;
   background-color: #505050;
   font-size: 16px;
   border-collapse: separate; 
   text-align: center; 
}

footer{
    background-color:  #312B2B;
    height: 200px;
    color: white;
}
footer p{
    margin-right: 40%;
    margin-left: 40%;
}

.Enlaces {
    margin-right: 40%;
    margin-left: 40%;
}

.Enlaces article{
    display: inline-block;
    vertical-align: middle;
    }

.Enlaces article :hover{
    cursor: pointer;
}

#tabs_comentario{
  background-color: white;
  width: 98%;
  margin-top: -18px;
  margin-left: 0;
  
}
#tabs_comentario-1{
  padding: 0 0 0 0;
  margin: auto;
}

#tabs_comentario-2{
  padding: 0 0 0 0;
  margin: auto;
  width: 100%;
  background-color: #f2f2f2;
}

#tabs-3{
  color: white;
}



/*MEDIA QUERY*/
@media only screen and (max-width : 470px) {

  aside{
    display: none;
  }

.Torneos article {
  float: left;
  background-color: #47474D;
  margin-left: 5%;
  margin-right: 14px;
  width: 94%;
  border-radius: 4px;
}
#ContenidoTorneo img {
  height: 134px;
  width: 95%;
}

#ContenidoTorneo article {
  
  width: 95%;
   
}

footer p {
  margin-right: 9%;
  margin-left: 9%;
}

table thead {
    
    font-size: 10px;
   
}
table tbody{
   
   font-size: 10px;
   
}


}

@media only screen and (max-width : 600px){
  
 aside{
    display: none;
  }

#ContenidoTorneo{
    height: 297px;
}

#ContenidoTorneo img {
  height: 135px;
  width: 99%;
  }
#ContenidoTorneo article{
  height: 45%;
  width: 96%;
  }
}

@media only screen and (max-width : 780px){
.FrmRegistrarTorneo{
  width: 92%;
  margin-left: 5%;

}

}

@media only screen and (max-width : 1023px){
  
 aside{
    display: none;
  }

.Torneos article {
  width: 93%;
  }

footer p {
  margin-right: 20%;
  margin-left: 46%;
}

}

@media only screen and (max-width : 960px){

  #ContenidoTorneo {
  height: 135px;
  }
}

@media only screen and (max-width : 737px){
  #menu-icon {
    display:inline-block;
  }

  nav {
    background-color: #000;
  }

  nav ul, nav:active ul { 
    display: none;
    position: absolute;
    padding: 20px;
    background: #000;
    border: 5px solid #444;
    right: 20px;
    top: 40px;
    width: 50%;
    border-radius: 4px 0 4px 4px;

  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;

  }

  nav:hover ul {
    display: block;
  }
}
